*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 20px;
    font-family: 'Google Sans', sans-serif;

}

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 70px;
    width: 100%;   
}
nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-right: 20px;
}
nav .left img{
    width: 90px;
    height: 70px;
}
nav .left h4{
    font-size: 25px;
}
nav .center{
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
nav .center p{
    font-size: 15px;
}
nav .right{
    width: 25%;
    display:flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}
nav .right button{
    background-color: #131313;
    padding : 10px 20px;
    color:white;
    border: none;
    border-radius: 10px;
}

.section1{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 h1{
    font-size: 100px;
}

.section2{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.section2 button{
    padding: 8px 20px;
    border: none;
    background-color: #131313;
    color: white;
    border-radius: 20px;
}
.section2 .first{
    background-color: #FD4808;
}
.section3{
    display: flex;
    align-items: center;
    gap:20px;
    width: 80%;
    height: calc(100%-280px);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
}
.section3 .photo img{
    height: 200px;
    width: 270px;
    object-fit: cover;
    border-radius: 20px;
}
.section3 .bottom-left{
    background-color: #131313;
    height: 330px;
    border-radius: 20px;
}
.section3 .bottom-mid{
    background-color: #131313;
    height: 330px;
    border-radius: 20px;
}
.section3 .bottom-right{
    background-color: #131313;
    height: 330px;
    border-radius: 20px;
}

.content{
    padding: 10px 20px
}

.bottom-left button{
    padding: 3px 6px;
    background-color: #551D09;
    border: none;
    border-radius: 10px;
    color: #ED9367;
}
.bottom-mid button{
    padding: 3px 6px;
    background-color: #551D09;
    border: none;
    border-radius: 10px;
    color: #ED9367;
}
.bottom-right button{
    padding: 3px 6px;
    background-color: #551D09;
    border: none;
    border-radius: 10px;
    color: #ED9367;
}

.bottom-left h3{
    font-size : 18px;
    margin-top: 7px;
    font-weight: 600;
}
.bottom-left p{
    font-size : 10px;
    margin-top: 7px;
    font-weight: 500;
    margin-top: 10px;
    color: #6F6F6F;
}

.bottom-mid h3{
    font-size : 18px;
    margin-top: 7px;
    font-weight: 600;
}
.bottom-mid p{
    font-size : 10px;
    margin-top: 7px;
    font-weight: 500;
    margin-top: 10px;
    color: #6F6F6F;
}
.bottom-right h3{
    font-size : 18px;
    margin-top: 7px;
    font-weight: 600;
}
.bottom-right p{
    font-size : 10px;
    margin-top: 7px;
    font-weight: 500;
    margin-top: 10px;
    color: #6F6F6F;
}